
@{
    ViewBag.Title = "WebChat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.StartChat != null)
{
    <input type="text" id="start-chat" value="@ViewBag.StartChat" hidden/>
}
<div class="search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search on WebChat">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </div>
</div>
<div class="chat-title">
    <div class="chat-title-image">
        <img src="@Url.Content("~/UploadedFiles/Avatar/sample_avatar.png")" id="chat-title-avatar" alt="">
        <span class="chat-title-image-icon online" id="chat-title-isOnline"></span>
    </div>
    <div class="chat-title-content">
        <h4 id="chat-title-name">User</h4>
        <div class="chat-title-time" id="chat-title-last-online">0 giờ</div>
    </div>
</div>
<div class="current-friend" id="currentf-friend"></div>
<div id="spinner-container" class="spinner"></div>
<input type="text" id="chat-page" value="1" hidden />
<input type="text" id="current-friend-id" value="null" hidden />
<div class="current-chat" id="current-chat"></div>
<div class="send-message">
    <div class="input-group">
        <input type="text" class="form-control form-control-lg input-message" placeholder="Nhập tin nhắn..." id="input-message">
        <div class="input-group-append">
            <button class="btn btn-primary btn-lg btn-send-message" type="button" id="send-button">Gửi</button>
        </div>
    </div>
</div>
