/* All your custom css style here */

.search {
    position: fixed;
    width: 450px;
    background-color: #e9ecef;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.chat-title {
    position: fixed;
    width: 100%;
    height: 59px;
    background-color: #e9ecef;
    margin-left: 450px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.chat-title-image {
    height: 100%;
    position: relative;
    float: left;
    padding: 5px 20px;
}

    .chat-title-image img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1.5px solid #f5f6fa;
    }

.chat-title-image-icon {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    bottom: 4px;
    right: 14px;
    border: 1.5px solid white;
}

.online {
    background-color: #4cd137;
    border: 1.5px solid white;
}

.chat-title-content {
    padding: 5px 90px;
}

    .chat-title-content h4 {
        margin: 0;
    }

.chat-title-time {
    color: #90949c;
}

.current-friend {
    position: fixed;
    top: 115px;
    height: calc(100% - 115px);
    width: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background-color: #e9ecef; */
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.current-chat {
    position: fixed;
    top: 115px;
    left: 450px;
    bottom: 48px;
    height: calc(100% - 163px);
    width: calc(100% - 450px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
}

.spinner {
    position: fixed;
    top: 115px;
    left: 450px;
    bottom: 48px;
    height: calc(100% - 163px);
    width: calc(100% - 450px);
    padding: 20px;
    z-index: 10;
    display: none;
}

    .spinner:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px;
        border-radius: 50%;
        border: 3px solid lightgray;
        border-top-color: coral;
        animation: spinner 0.7s linear infinite;
    }

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.justify-content-start {
    margin-bottom: 25px;
}

.justify-content-end {
    margin-bottom: 25px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

    .img_cont_msg img {
        width: 37px;
        height: 37px;
        border-radius: 50%;
        border: 1.5px solid #f5f6fa;
    }

.justify-content-start .msg_cotainer {
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.justify-content-start .msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(0,0,0,0.8);
    font-size: 10px;
}

.justify-content-end .msg_cotainer {
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.justify-content-end .msg_time {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(0,0,0,0.8);
    font-size: 10px;
}

.current-friend-container {
    width: 100%;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transition: 0.5s background-color;
}

    .current-friend-container:hover {
        background-color: rgba(0, 132, 255, .2);
        cursor: pointer;
    }

.curent-friend-image {
    position: relative;
    height: 60px;
    width: 60px;
    float: left;
}

    .curent-friend-image img {
        width: 57px;
        height: 57px;
        border-radius: 50%;
        border: 1.5px solid #f5f6fa;
    }

.curent-friend-image-icon {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    bottom: 1px;
    right: 1px;
}

.curent-friend-content {
    padding-left: 70px;
    width: 100%;
}

.current-friend-last-message {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(144, 148, 156);
}

.current-friend-last-message-bold {
    color: #000;
    font-weight: bold;
}

.current-friend-last-message-time {
    color: rgb(144, 148, 156);
}

.current-friend-last-message-time-bold {
    color: #0084ff;
}

.active {
    background-color: rgba(0, 0, 0, .1);
}

.current-friend-name {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.current-friend-name-bold {
    color: #000;
    font-weight: bold;
}

.send-message {
    position: fixed;
    bottom: 0;
    left: 450px;
    width: calc(100% - 450px);
}

.input-group-message {
    border-top: 1px solid rgb(206,212,218);
}

.input-message {
    border-radius: 0;
    border: none;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 15px;
}

    .input-message:focus {
        outline: none !important;
        box-shadow: none;
    }

.btn-input-message {
    border: none;
    color: gray;
    padding-right: 20px;
}

    .btn-input-message:hover {
        color: #0084ff;
    }

    .btn-input-message:focus {
        outline: none !important;
        box-shadow: none;
    }

.search-with {
    z-index: 4;
    position: absolute;
    top: 115px;
    width: 450px;
    height: 34px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    display: none;
}

@media screen and (max-width: 920px) {
    .current-friend {
        width: 420px;
    }

    .search {
        width: 420px;
    }

    .chat-title {
        margin-left: 420px;
    }

    .current-chat {
        left: 420px;
        width: calc(100% - 420px);
    }

    .send-message {
        left: 420px;
        width: calc(100% - 420px);
    }

    .search-with {
        width: 420px;
    }
}

@media screen and (max-width: 870px) {
    .current-friend {
        width: 370px;
    }

    .search {
        width: 370px;
    }

    .chat-title {
        margin-left: 370px;
    }

    .current-chat {
        left: 370px;
        width: calc(100% - 370px);
    }

    .send-message {
        left: 370px;
        width: calc(100% - 370px);
    }

    .search-with {
        width: 370px;
    }
}

@media screen and (max-width: 820px) {
    .current-friend {
        width: 320px;
    }

    .search {
        width: 320px;
    }

    .chat-title {
        margin-left: 320px;
    }

    .current-chat {
        left: 320px;
        width: calc(100% - 320px);
    }

    .send-message {
        left: 320px;
        width: calc(100% - 320px);
    }

    .search-with {
        width: 320px;
    }
}

@media screen and (max-width: 670px) {
    .current-friend {
        width: 250px;
    }

    .search {
        width: 250px;
    }

    .chat-title {
        margin-left: 250px;
    }

    .current-chat {
        left: 250px;
        width: calc(100% - 250px);
    }

    .send-message {
        left: 250px;
        width: calc(100% - 250px);
    }

    .search-with {
        width: 250px;
    }
}

@media screen and (max-width: 670px) {
    .current-friend {
        width: 95px;
    }

    .search {
        width: 95px;
    }

    .chat-title {
        margin-left: 95px;
    }

    .current-chat {
        left: 95px;
        width: calc(100% - 95px);
    }

    .send-message {
        left: 95px;
        width: calc(100% - 95px);
    }

    .curent-friend-content {
        display: none;
    }

    .curent-friend-image {
        float: none;
    }

    .search-on-webchat {
        display: none;
    }

    .search-with {
        display: none;
    }
}