/* All your custom css style here */

/* For header */
.dropdown-toggle::after {
    display:none;
}

.dropdown-noti {
    min-width: 430px;
    min-height: 660px;
    max-height: 660px;
}

.noti-header {
    margin-left: 20px;
    margin-right: 20px;
}

.noti-title {
    float: left;
}

.make-all-read {
    text-align: right;
    color: blueviolet;
}

.make-all-read:hover {
    text-decoration: underline;
    cursor: pointer;
}

.noti-content {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    min-height: 580px;
    max-height: 580px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.row {
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid gray;
}

.row:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.notify-img {
    width: 100%;
    height: 100%;
}

.notify-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.row-content {
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    font-weight: 450;
}

.row-time {
    color: #90949c;
}

.noti-footer {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: blueviolet;
}

.noti-footer:hover {
    text-decoration: underline;
    cursor: pointer;
}